@tailwind base;
@tailwind components;
@tailwind utilities;




@font-face {
    font-family: f1;
    src: url(../public/assets/fonts/ArcherPro-Book.otf);
}

@font-face {
    font-family: f2;
    src: url(../public/assets/fonts/Nourishe\ Normal.ttf);
}

@font-face {
    font-family: ubantu;
    src: url(../public/assets/fonts/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: inika;
    src: url(../public/assets/fonts/Inika-Regular.ttf);
}

.active{
    position: relative;
}
.active::after{
    content: '';
    transition: .5s;
    position: absolute;
    bottom:-10px;
    border-bottom: 2px solid black;
    width: 100%;
    left:0;   
}



